/* SMALL */

.icon-sm{
    font-size: 2rem;
}

/* delete post(modal) */
/* admin/posts/index.blade.php */
/* hide post (modal) */
.image-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

/* LIKE BUTTON */
.fa-heart {
    font-size: 1.5rem;
}

/* EXTRA SMALL FONT SIZE */
/* data- body.blade.php */
/* date, delete - comments.blade.php */
/* date - posts/show.blade.php */
/* subtext - suggestions.blade.php */
.xsmall {
    font-size: 0.65rem;
}

/* LARGE */
.icon-lg {
    font-size: 9rem;
}

/* Profile page grid image */
.grid-image {
    width: 100%;
    height: 300px;
    /* Height is not dynamic */
    object-fit:cover;
}

.avatar-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.avatar-sm{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
/* MEDIUM
 */

 .icon-md{
    font-size: 3.5rem;
 }

 .avatar-md{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
 }